* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Young Serif";
    font-weight: 400px;
}

body {
    background-color: hsl(30, 54%, 90%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5% 0;

}

.dishImg {
    width: 90%;

    border-radius: 10px;
}

.mainFrame {

    background-color: hsl(0, 0%, 100%);

    width: 80%;
    border-radius: 20px;

    padding-top: 35px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.textArea {
    background-color: hsl(0, 0%, 100%);

    padding: 35px 40px;

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: start;
    flex-direction: column;

    text-align: start;

    font-family: "Outfit";
}


.mainFrame h1 {
    font-size: 30px;
    color: hsl(24, 5%, 18%);
}

.mainFrame h2 {
    color: hsl(14, 45%, 36%);
    font-size: 20px;
}

.mainFrame p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);


}

.mainFrame li {
    color: hsl(30, 10%, 34%);
}

/* Preparation zone */

.preparationInfo {
    background-color: hsl(330, 100%, 98%);
    color: hsl(30, 10%, 34%);

    width: 100%;

    border-radius: 10px;
    padding: 20px;

}

.preparationInfo h3 {
    color: hsl(332, 51%, 32%);
}

.preparationInfo ul {
    list-style: disc;

}

.preparationInfo ul li {
    margin: 10px 20px;
    padding-left: 10px;

}

.preparationInfo ul li::marker {
    color: hsl(332, 51%, 32%);

}

.mainFrame span {
    font-weight: 800;
}

/* Ingredients zone  */

.ingredientsInfo {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.1rem solid hsl(30, 18%, 87%);
}

.ingredientsInfo ul {
    list-style: disc;

}

.ingredientsInfo ul li {
    margin: 10px 20px;
    padding-left: 10px;

}

.ingredientsInfo ul li::marker {
    color: hsl(14, 45%, 36%);

}

/* Instruction zone */

.instructionInfo {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.1rem solid hsl(30, 18%, 87%);
}

.instructionInfo ol {
    list-style: number;

}

.instructionInfo ol li {
    margin: 10px 20px;
    padding-left: 10px;

}

.instructionInfo ol li::marker {
    color: hsl(14, 45%, 36%);

}

/* Nutrition zone */

.nutritionInfo {
    width: 100%;
}

.nutritionInfo h2 {
    margin-bottom: 20px;
}

.nutritionDescription {
    padding-bottom: 20px;

}

.rowContainer {
    width: 100%;


    display: flex;
    justify-content: space-evenly;

    padding: 5px 0px;
    border-bottom: 0.1rem solid hsl(30, 18%, 87%);
}

.rowContainer p {
    text-align: start;
    width: 50%;
    padding-left: 30px;

}

.nutritionInfo .lastContainer {
    border: none;
}

.nutritionInfo .nutritionValues {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}


/* Responsive design */

@media screen and (max-width: 450px) {

    body {

        padding: 0;

    }

    .dishImg {
        width: 100%;

        border-radius: 0;
    }



    .mainFrame {
        width: 100%;

        padding: 0;
    }
}