* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    font-family: "Young Serif";
    font-weight: 400px;
}

body {
    background-color: hsl(30, 54%, 90%);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5% 0;

}

.mainFrame {


    background-color: hsl(0, 0%, 100%);

    width: 80%;
    border-radius: 20px;
    padding: 35px 40px;

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: start;
    flex-direction: column;

    text-align: start;

}

.dishImg {
    width: 100%;

    border-radius: 10px;
}

.mainFrame h1 {
    font-size: 30px;
    color: hsl(24, 5%, 18%);
}

.mainFrame p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.preparationInfo {
    background-color: hsl(330, 100%, 98%);
    color: hsl(30, 10%, 34%);

    width: 100%;

    border-radius: 10px;
    padding: 20px;


}

.preparationInfo h3 {
    color: hsl(332, 51%, 32%);
}

.preparationInfo ul {
    list-style: disc;

}

.preparationInfo ul li {
    margin: 10px;

}

.mainFrame span {
    color: hsl(24, 5%, 18%);
    font-weight: 800;
}